.root {
    -fx-background-image: url("background.jpg") auto;
	-fx-font-family: "Tahoma";
}

.button {
    -fx-text-fill: white;
    /*-fx-font-family: "Verdana";*/
	/*-fx-font-family: "Tahoma";*/
	-fx-font-size:14px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2FF, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#52f14b, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:pressed {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

#clientpathlabel {
    -fx-text-fill: yellow;
}

#checkbox {
-fx-text-fill: yellow;
}

/*
#remotelocallabel {
-fx-border-color: black;
-fx-border-width: 3;
-fx-border-style: solid;
}
*/